
    
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Développeur_web_confirmé</h3>
                <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant : Développeur_web_confirmé</h6>
                <img src="assets/images/recruter/developpeur_web_confirmé.png">
            </div>
        </div>
        
        <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Développeur Front-End</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant :Développeur Front-End</h6>
                    <img src="assets/images/recruter/front end.png">
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Développeur Full_Stack</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant :Développeur Full_Stack</h6>
                    <img src="assets/images/recruter/full stack.png">
                </div>
            </div>

            

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Développeur mobile</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant :Développeur mobile</h6>
                    <img src="assets/images/recruter/mobile.png">
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Développeur PHP</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant :Développeur PHP</h6>
                    <img src="assets/images/recruter/php.png">
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Développeur Sécurité</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant :Développeur Sécurité</h6>
                    <img src="assets/images/recruter/systeme et sécurité.png">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Visiualisation des offres de toutes domaines par recruteur :</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par recruteur d'offres concernant tous les offres</h6>
                    <img src="assets/images/recruter/general.png">
                </div>
            </div>
    
