
    
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Pourcentage des offres par title :</h3>
                <h6 class="card-subtitle">Ce Pie Chart présente des statistiques par title d'offres parapport tous les offres existants...</h6>
                <img src="assets/images/title/title2.png">
            </div>
        </div>
        
        <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Visiualisation des offres par title avec Bar Chart</h3>
                    <h6 class="card-subtitle">Ce Pie Chart présente des statistiques par title d'offres parapport tous les offres existants...</h6>
                    <img src="assets/images/title/title.png">
                </div>
            </div>
    
