
    
    
        <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Developpeur_web_confirmé</h3>
                    <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant : Developpeur_web_confirmé </h6>
                    <img src="assets/images/region/developpeur_web_confirmé.png">
                </div>
            </div>
            
            <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">developpeur Front-End</h3>
                        <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant:developpeur Front-End</h6>
                        <img src="assets/images/region/front end.png">
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Developpeur full stack </h3>
                        <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant:Developpeur full stack</h6>
                        <img src="assets/images/region/fullstack.png">
                    </div>
                </div>
    
                
    
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Developpeur Mobile</h3>
                        <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant:Developpeur Mobile</h6>
                        <img src="assets/images/region/mobile.png">
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Developpeur PHP</h3>
                        <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant:Developpeur PHP</h6>
                        <img src="assets/images/region/php.png">
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Developpeur Sécurité</h3>
                        <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport les offres concernant:Developpeur Sécurité</h6>
                        <img src="assets/images/region/systéme et sécurité.png">
                    </div>
                </div>
                <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Visiualisation des offres de toutes domaines par région :</h3>
                            <h6 class="card-subtitle">Ce Chart présente des statistiques par région parapport tous les offres existants</h6>
                            <img src="assets/images/region/general.png">
                        </div>
                    </div>
        
    