<div class="row">
  <div class="col-12">
   
    <div *ngFor="let stage of stages$ ">
         
       
      <div class="card">
          <div class="card-body">
             

              <div class="row">
                  <div class="col-12 m-t-30">
                      <div class="card card-inverse" style="background-color: #778899; border-color: #333;">
                          <div class="card-header">
                              <h4 class="m-b-0 text-white">{{stage.title}} </h4>
                            <p class="text-muted m-t-0 font-12">{{stage.region}} </p>
                          </div>
                          <div class="card-body">
                            <h3 class="card-title">{{stage.recruiter}}</h3>
                            <p class="card-text">{{stage.description}}</p>
                            <a href="{{stage.url}}" class="btn btn-primary">Détails</a>
                        </div>
                      </div>
                     
                  </div>
              </div>

              
          </div>
          
      </div>

    </div>


     
  </div>
</div>


